.popup-container {
	z-index: 50;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: transparent;
	display: flex;
	justify-content: center;
	align-items: center;
}

.popup {
	position: relative;
	border: 2px solid red;
	background-color: #f90;
	display: flex;
	justify-content: center;
}
