.popup-container {
	z-index: 50;
	position: fixed;
	top: 60px;
	left: 0;
	width: 100vw;
	height: 100vh;
	background-color: transparent;
//	backdrop-filter: blur(2px);
	display: flex;
	justify-content: center;
}

.popup {
	position: relative;
	display: flex;
	justify-content: center;
}
