.select-integer {
}

.integer-element {
	border-radius: 50%;
	background-color: #666;
}

.integer-element {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	font-size: 10pt;
	margin: 5px;
}
