@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

.App {
}

.App-header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: #282c34;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(20px + 2vmin);
  color: white;
}

.passage-selector {
  display: flex;
  justify-content: center;

  input {
    background-color: black;
    color: white;
  }
  button {
    background-color: black;
    color: white;
  }

  #input-book {
    width: 100px;
  }
  #input-chapter {
    width: 30px;
  }
}

.passage-wrapper {
  margin: 20px;
  margin-top: 80px;

  font-family: Roboto;
  font-size: 1.0em;
  line-height: 1.5;

  & > div {
    padding-bottom: 15px;
  }

  .verse-ref {
    font-size: .8em;
    width: 22px;
    height: 22px;
    margin-top: 4px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: #8D66B9;
    color: white;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .verse-text {
    color:#333;
    font-weight: bold;
  }
}

/* ChevronIcon */
.chevron {
  width: 50px;
  height: 50px;
  margin: 4px;
  border-radius: 50%;
  background-color: #8D66B9;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

