@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

$header-footer-color: #282c34;
$button-color: #8D66B9;
$header-text-color: #ffffff;
$button-text-color: #ffffff;
$verse-text-color: #333;

.App {
}

.App-header {
  position: fixed;
  top: 0;
  width: 100vw;
  background-color: $header-footer-color;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  color: $header-text-color;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: $header-footer-color;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  font-size: calc(20px + 2vmin);
  color: $header-text-color;
}



/*
    PassageLayout
*/
.passage-wrapper {
  margin: 80px 20px;

  font-family: Roboto;
  font-size: 1.0em;
  line-height: 1.5;

  .verse-wrapper {
    display: flex;
    padding: 10px 0;
  }

  .verse-ref {
    font-size: .8em;
    width: 22px;
    height: 22px;
    margin-top: 4px;
    margin-right: 10px;
    border-radius: 50%;
    background-color: $button-color;
    color: $button-text-color;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .verse-text {
    color: $verse-text-color;
    font-weight: bold;
  }
}



/*
    Popup
*/
.popup-container {
  z-index: 50;
  position: fixed;
  top: 60px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  backdrop-filter: blur(2px);
  display: flex;
  justify-content: center;
}

.popup {
  position: relative;
  display: flex;
  justify-content: center;
}

/* 
    ChevronIcon 
*/
.chevron {
  width: 50px;
  height: 50px;
  margin: 4px;
  border-radius: 50%;
  background-color: $button-color;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.chevron-left {
  transform: rotate(180deg);
}



/* 
    Autocomplete 
*/
.autocomplete-input {
  font-size:1em;
  width: 6em;
  &:focus {
    outline: none;
  }
}

.autocomplete-matches {
  position:absolute;
  top:20px;
  left:0;
//  background-color:#09f;
  margin: 0;
  padding: 0;
  list-style-type: none;

  li:first-child {
    border-top: 1px solid gray;
  }

  li {
    background-color: $button-color;
    color: $button-text-color;
    margin: 3px;
    border-radius: 30px;
    padding: .25em .5em;
    font-size: 1em;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-bottom: 1px solid gray;
  }
}



/*
    SelectInteger 
*/
.select-integer-wrapper {
  height: 72vh;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start; // YES!!
}

.integer-element {
  border-radius: 50%;
  background-color: $button-color;
}

.integer-element {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  font-size: 1em;
  margin: 5px;
}


/*
    MemorizePopup
*/
.memorize-container {
  z-index: 50;
  position: fixed;
  top: 60px;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
    backdrop-filter: blur(2px);

  .memorize-popup {
    position: absolute;
    top: 20px;
    display: flex;
    justify-content: center;

    width: 375px;

    .memorize-playground {
      width: 100%;
      height: 200px;
      padding: 0px;
      border-radius: 10px;
      background-color: #666;
      color: white;
      opacity: .8;
    
      overflow-y: scroll;
      display: flex;
      flex-wrap: wrap;
      align-items: flex-start;
      align-content: flex-start;

      .text-label {
        width: 100%;
        padding: 5px;
        background-color:#333;
        border-bottom: 2px solid #ccc;
      }

	  .text-fragment {
		  line-height: 2;
		  padding: 5px 10px;
      }
    }
  }
}

/*
    QWERTY Component
*/
.keyboard-wrapper {
  position: fixed;
  bottom: 0px;
  width: 100vw;
}
.qwerty-container {
  //position: fixed;
//  bottom: 0px;
//  width: 100vw;
  position: relative;
  background-color:gray;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-x: scroll;

  div[class^="qwerty-row-"] {
    width:100%;
    margin: 1px 0;
    display: flex;
    flex-wrap: no-wrap;
    justify-content: center;
  }

  .qwerty-letter {
    font-size: 1.5em;
    width: 36px;
    height: 36px;
    margin-top: 1px;
    margin-right: 3px;
    border-radius: 50%;
    border: 1px solid white;
    background-color: orange;
    color: $button-text-color;
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
}

.large-letter {
	opacity: 1;
	display: flex;
	justify-content: center;
	align-items: center;
}

.letter-container {
	opacity: 1;
	width: 100px;
	height: 100px;
	background-color: red;
	border-radius: 50%;
	color: white;
	font-size: 5.25em;
	display: flex;
	justify-content: center;
	align-items: center;

	&.correct {
		background-color: green;
	}

	&.start-trans {
		display: flex;
		opacity: 0;
		transition-delay: .5s;
		transition-duration: 1s;

	&.end-trans {
		display: none;
	}
	}
}


/*
    Tool Buttons (Done, Help, ...)
*/
.tool-btn-container {
  position: relative;
  width: 100vw;
  display: flex;
  justify-content: flex-end;

  .tool-btn {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 3px;
    border: 1px solid white;
  }

  .done {
    background-color: green;
  }

  .help {
    background-color: orange;
  }
}
